# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [36]:
import os
import numpy as np
import pandas as pd

In [3]:
# 設定 data_path, 並讀取 app_train
dir_data = 'D:\\Dropbox\\100Days\\data'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [7]:
app_train['WEEKDAY_APPR_PROCESS_START']

0         WEDNESDAY
1            MONDAY
2            MONDAY
3         WEDNESDAY
4          THURSDAY
5         WEDNESDAY
6            SUNDAY
7            MONDAY
8         WEDNESDAY
9          THURSDAY
10         SATURDAY
11           FRIDAY
12           FRIDAY
13         THURSDAY
14           MONDAY
15         SATURDAY
16         THURSDAY
17           MONDAY
18           FRIDAY
19           MONDAY
20           FRIDAY
21           MONDAY
22         THURSDAY
23           FRIDAY
24         THURSDAY
25         SATURDAY
26           MONDAY
27         SATURDAY
28        WEDNESDAY
29          TUESDAY
            ...
307481       FRIDAY
307482     THURSDAY
307483       MONDAY
307484       MONDAY
307485     SATURDAY
307486     SATURDAY
307487    WEDNESDAY
307488    WEDNESDAY
307489       FRIDAY
307490     SATURDAY
307491     SATURDAY
307492       FRIDAY
307493       MONDAY
307494       MONDAY
307495    WEDNESDAY
307496     THURSDAY
307497     THURSDAY
307498       MONDAY
307499      TUESDAY
307500       FRIDAY
307501    WEDNESDAY
307502       MONDAY
307503     SATURDAY
307504    WEDNESDAY
307505       MONDAY
307506     THURSDAY
307507       MONDAY
307508     THURSDAY
307509    WEDNESDAY
307510     THURSDAY
Name: WEEKDAY_APPR_PROCESS_START, Length: 307511, dtype: object

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [29]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

array([6, 1, 1, ..., 4, 6, 4])

In [8]:
from sklearn.preprocessing import LabelEncoder

In [49]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Train on the training data
le.fit(sub_train.ravel())
# Transform both training and testing data
sub_train = le.transform(sub_train.ravel())

In [50]:
sub_train = pd.get_dummies(sub_train)

print(sub_train.shape)
sub_train.head()

(307511, 7)

   0  1  2  3  4  5  6
0  0  0  0  0  0  0  1
1  0  1  0  0  0  0  0
2  0  1  0  0  0  0  0
3  0  0  0  0  0  0  1
4  0  0  0  0  1  0  0